
body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
  background-color: rgba(242, 242, 242, 1);
}

@font-face {
    font-family: "AMDRTG";
    src: url(../fonts/AMDRTG.ttf) format("truetype");
}
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}
#header {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#header img{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: auto;
  height: auto;
}
#header ul{
/*    overflow: hidden;
    list-style-type: none;*/
    background-color: rgba(222, 222, 222, 1);
}
#header li{
    display: inline;
    padding: 5%;
    margin: 5px;
    z-index: 2;
}
.active_header {
  background-color: rgba(247, 247, 247, 1);
}

#header a{
    font-family: AMDRTG, sans-serif;
    font-size: 22px;
    font: normal;
    text-decoration: none;
    display: inline-block;
    padding: 8px;
}
#header a:link{
    color: #000;
}
#header a:visited{
    color: #000;
}
#header a:hover{
    color: #000;
    background: #fff;
}

#footer{
    text-align: center;
    width: 100%;
    position: relative;
    float: left;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: "Open Sans"
}

table.baseTable {
  border-collapse: collapse;
  font-family: 'Open Sans';
  font-weight: 400px;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.baseTable tr, td {
  width: auto;
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(256, 256, 256, 1);
}
.baseTable th {
  background-color: rgba(222, 222, 222, 1);
  width: auto;
  padding: 10px;
  border: 1px solid black;
  text-aling: center;
}

.summary_tr td {
  background-color: rgba(222, 222, 222, 1);
}

hr {
    height: 7px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: rgba(222, 222, 222, 1);
    background-color: rgba(212, 212, 212, 1);
    border: none;
}

h1 {
  font-family:'AMDRTG';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
  margin-left: 3%;
}
h2 {
  font-family:'AMDRTG';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
  margin-left: 6%;
}
h3 {
  font-family:'Open Sans';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
  margin-left: 7%;
}
h4 {
  font-family:'AMDRTG';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
h5 {
  font-family:'AMDRTG';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
h6 {
  font-family:'AMDRTG';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;

    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    cursor: default;
}
.overlay:target {
    display: block;
}

.popup {
    top: -100%;
    /*right: 0;*/
    left: 70%;
    font-size: 14px;
    z-index: 20;
    margin: 0;
    /*width: 85%;*/
    min-width: 320px;
    /*max-width: 600px;*/
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #fefefe;
    border-radius: 4px;
    font: 14px/18px 'Open Sans', Arial, sans-serif;
}

.overlay:target+.popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}

.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;

    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);

    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
}

#goTop {
  margin: 0 !important;
  padding: 0 !important;
  background: #fff;
  /*overflow: hidden;*/
  border-radius: 50%;
  /*clear: both;  */
  position: fixed;
  cursor: pointer;
  display: block;
  border: none;

  z-index: 99;

  color: #00ab6c;
  font-size: 25px;
  left: 25px;
  bottom: 50px;
  height: 50px;
  width: 50px;
  /*visibility: visible;*/
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center

}

#goTop:before {
  content: "^";
  font-family: "FontAwesome";
  font-weight: 1000;
  font-size: 50px;
  vertical-align: middle;
  margin: auto;
}

#goTop:active {
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}

.badResult {
   background: #e86755;
}

.hatching {
    background:
            linear-gradient(45deg, rgba(0, 0, 0, 0) 49.9%, black 49.9%, black 60%, rgba(0, 0, 0, 0) 60%)
            fixed,
            linear-gradient(45deg, black 10%, rgba(0, 0, 0, 0) 10%)
            fixed;
    background-size: 0.3em 0.3em;
}
.hatching img{
    display: block;
    margin: auto;
}

.jsTableWrapper table img {
    width: 64px;
    height: 64px;
}

.jsTableWrapper {
  width: 80% !important;
  margin: auto;
}

.jsTableWrapper table {
  width: 100%;
}

#compareTable img {
    width: auto;
    height: auto;
}

#columnchart {
  display: block;
  margin: auto;
  width: 800px;
  height: 500px;
}