.timeWorseStatus {
  background: #ffd3e6 !important;
}

.timeBetterStatus {
  background: #d3ffe4 !important;
}

.badResult {
  background: #e86755 !important;
}

.passedStatus {
}
/*TODO: customize colors for all statuses*/
.failedStatus {
  background: #e86755 !important;
}

.errorStatus {
  background: #e86755 !important;
}

.skippedStatus {
  background: #e5e855 !important;
}
