{% extends "main_template.html" %}

{% block main_body_part %}

<table class="resultsTable">
    <tr>
        <th>Rendered picture</th>
        {% if compared %}
        <th>Baseline picture</th>
        {% endif %}
        <th>Info</th>
    </tr>
    {% for img in rendered %}
    <tr>
        <td><img src="{{ img.render_path }}" onclick="resizeImg(this)" class="zoomImg"/></td>
        {% if compared %}
        <td><img src="{{ img.basline_path }}" onclick="resizeImg(this)" class="zoomImg"/></td>
        {% if compared %}
        <td>Scene: {{ img.scene_name }}
            File name: {{ img.file_name }}
            Pix difference: {{ img.pix_difference }}
            Render time: {{ img.render_time | roud(3) }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}