<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<style media="screen" type="text/css">
		body{
			background-color: #F2ECD0;
		}

		table{
			width: 100%;
			border: 2px solid #000;
			text-align: center;
			border-collapse: collapse;
		}
		td, tr{
			border: 1px solid #000;
		}
		
	</style>
    <title>{{ title }}</title>
</head>
<body>
	{% for testTable in results %}
	<table>
		<tr>
			{% for key in testTable[0] %}
			<td>{{ key }}</td>
			{% endfor %}
		</tr>
		</tr>
		{% for testImage in testTable %}
		<tr>
			{% for key in testImage %}
				<td>{{ testImage[key] }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
	<br/>
	<br/>
	{% endfor %}
</body>
</html>