{% extends "main_template.html" %}

{% block main_body_part %}

	<table class="resultsTable">
		<caption>Rendering results</caption>
		<tr>
			<td>Tool</td>
			<td>Test name</td>
			<td>Pass Limit</td>
			<td>Render Size</td>
			<td>Frame</td>
			<td>Scene name</td>
			<td>File name</td>
			<td>Time stamp</td>
			<td>Difference for color</td>
			<td>Render time</td>
		</tr>
		{% for item in rendered %}
		<tr>
			<td>{{ item.tool }}</td>
			<td>{{ item.test_name }}</td>
			<td>{{ item.PassLimit }}</td>
			<td>{{ item.RenderSize }}</td>
			<td>{{ item.frame }}</td>
			<td>{{ item.scene_name }}</td>
			<td>{{ item.file_name }}</td>
			<td>{{ item.date_time }}</td>
			<td>{{ item.difference_images }}</td>
			<td>{{ item.render_time }}</td>
		</tr>
		<tr>
			<td>Rendered</td>
			<td>Baseline</td>
		</tr>
		
		<tr>
			<td colspan="5"><div ><img class="zoomImg" id="img{{ loop.index }}rendered" onclick="resizeImage('img{{ loop.index }}rendered')" src="{{ item.render_color_path }}"/></div></td>
			<td colspan="5"><div ><img class="zoomImg" id="img{{ loop.index }}baseline" onclick="resizeImage('img{{ loop.index }}baseline')" src="{{ item.baseline_color_path }}"/></div></td>
		</tr>
		{% endfor %}
	</table>

{% endblock %}