<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="report_resources/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="report_resources/css/bootstrap-table.css"/>
    <link rel="stylesheet" type="text/css" href="report_resources/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="report_resources/css/test-statuses.css"/>

    <script src="report_resources/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="report_resources/js/bootstrap.js" type="text/javascript"></script>
    <script src="report_resources/js/bootstrap-table.js" type="text/javascript"></script>
    <script src="report_resources/js/scripts.js" type="text/javascript"></script>
    <script src="report_resources/js/extensions/multiple-sort/bootstrap-table-multiple-sort.js"></script>

    <script src="report_resources/js/pixelmatch.js"></script>
    <script src="report_resources/js/images-substr.js"></script>
    <script src="report_resources/js/bootstrap-table-custom.js"></script>

    <title>{{ title }}</title>
</head>

<body>
    <a name="#top"/>
    <a id="goTop" href="#top" title="Go top"></a>

    <div id="infoBox"></div>

    <table class="baseTable">
        <tr>
            <th>Testing start</th>
            <th>Branch name</th>
            <th>Commit SHA</th>
            <th>Commit message</th>
        </tr>
        <tr>
            <td>{{ common_info.reporting_date | env_override("JOB_STARTED_TIME") }}</td>
            <td>{{ common_info.branch_name }}</td>
            <td>{{ common_info.commit_sha }}</td>
            <td>{{ common_info.commit_message }}</td>
        </tr>
    </table>

    <hr>

    {% block report_body %}
    {% endblock %}

    <hr>

    <div id="footer">
        Luxoft RPR CIS
        <br>
        2017-2018
    </div>

</body>
</html>