{% if pageID %}
    <table class="baseTable">
        <tr>
            <th>Build name</th>
            <th>Testing start</th>
            {% if report_type == 'ec' %}
                {# Core #}
                <th>Major version</th>
                <th>Minor version</th>
            {% else %}
                {# Default and converters #}
                {% if common_info.render_version %}
                    <th>Plugin version</th>
                {% endif %}
                {% if common_info.core_version %}
                    <th>Core version</th>
                {% endif %}
            {% endif %}
            <th>Branch name</th>
            <th>Commit SHA</th>
            <th>Commit message</th>
            {% if common_info.engine %}
                {% if tool_name == 'blender_usd_hydra' %}
                    <th>Delegate</th>
                {% else %}
                    <th>Engine</th>
                {% endif %}
            {% endif %}
        </tr>
        <tr>
            <td>{{ "" | env_override("BUILD_NAME") }}</td>
            <td>{{ common_info.reporting_date | env_override("JOB_STARTED_TIME") }}</td>
            {% if report_type == 'ec' %}
                {# Core #}
                <td>{{ common_info.core_version }}</td>
                <td>{{ common_info.minor_version }}</td>
            {% else %}
                {# Default and converters #}
                {% if common_info.render_version %}
                    <td
                        {% if common_info.render_version|length > 10 %}
                            class="failedStatus"
                        {% endif %}
                    >{{ common_info.render_version }}</td>
                {% endif %}
                {% if common_info.core_version %}
                    <td>{{ common_info.core_version }}</td>
                {% endif %}
            {% endif %}
            <td>{{ common_info.branch_name }}</td>
            <td>{{ common_info.commit_sha }}</td>
            <td>{{ common_info.commit_message }}</td>
            {% if common_info.engine %}
                <td>{{ common_info.engine }}</td>
            {% endif %}
        </tr>
    </table>
{% else %}
    <table class="baseTable">
        <tr>
            <th>Tool</th>
            <th>Render device</th>
            <th>Tests Package</th>
            {% if report_type == 'ec' %}
                {# Core #}
                <th>Major version</th>
                <th>Minor version</th>
            {% else %}
                {# Default and converters #}
                {% if common_info.render_version %}
                    <th>Plugin version</th>
                {% endif %}
                {% if common_info.core_version %}
                    <th>Core version</th>
                {% endif %}
            {% endif %}
            <th>Testing start</th>
            <th>Branch name</th>
            <th>Commit SHA</th>
            <th>Commit message</th>
            {% if common_info.engine %}
                {% if tool_name == 'blender_usd_hydra' %}
                    <th>Delegate</th>
                {% else %}
                    <th>Engine</th>
                {% endif %}
            {% endif %}
        </tr>
        <tr>
            <td>{{ common_info.tool }}</td>
            <td>{{ common_info.render_device }}</td>
            <td>{{ common_info.test_group }}</td>
            {% if report_type == 'ec' %}
                {# Core #}
                <td>{{ common_info.core_version }}</td>
                <td>{{ common_info.minor_version }}</td>
            {% else %}
                {# Default and converters #}
                {% if common_info.render_version %}
                    <td>{{ common_info.render_version }}</td>
                {% endif %}
                {% if common_info.core_version %}
                    <td>{{ common_info.core_version }}</td>
                {% endif %}
            {% endif %}
            <td>{{ common_info.date_time }}</td>
            <td>{{ common_info.branch_name }}</td>
            <td>{{ common_info.commit_sha }}</td>
            <td>{{ common_info.commit_message }}</td>
            {% if common_info.engine %}
                <td>{{ common_info.engine }}</td>
            {% endif %}
        </tr>
    </table>
{% endif %}