<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ pre_path }}/report_resources/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ pre_path }}/report_resources/css/bootstrap-table.css"/>
    <link rel="stylesheet" type="text/css" href="{{ pre_path }}/report_resources/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="{{ pre_path }}/report_resources/css/test-statuses.css"/>

    <script src="{{ pre_path }}/report_resources/js/thirdparty/jquery-3.3.1.min.js" type="text/javascript"></script>

    <script src="{{ pre_path }}/report_resources/js/thirdparty/bootstrap.js" type="text/javascript"></script>
    <script src="{{ pre_path }}/report_resources/js/thirdparty/bootstrap-table.js" type="text/javascript"></script>
    <script src="{{ pre_path }}/report_resources/js/extensions/multiple-sort/bootstrap-table-multiple-sort.js"></script>
    <script src="{{ pre_path }}/report_resources/js/extensions/toolbar/bootstrap-table-toolbar.js"></script>

    <script src="{{ pre_path }}/report_resources/js/scripts.js" type="text/javascript"></script>

    <script src="{{ pre_path }}/report_resources/js/thirdparty/pixelmatch.js"></script>
    <script src="{{ pre_path }}/report_resources/js/thirdparty/opencv.js"></script>
    <script src="{{ pre_path }}/report_resources/js/images-substr.js"></script>
    <script src="{{ pre_path }}/report_resources/js/bootstrap-table-custom.js"></script>

    <script type="text/javascript">
        $(document).ready(function init(){
        {% if pageID is defined %}
            setActive({{ pageID }});
        {% endif %}
        });
    </script>

    {% if performance_report is defined %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript">
      var toolColors = ['#82438CFF', '#327A5BFF', '#F4B400FF', '#2D538FFF', '#DB4437FF', '#4285F4FF', '#E8E541FF', '#24C959FF', '#00ACC1FF', '#FF7043FF']

      {% if synchronization_time %}

        syncDataSet = [
          {% for hw in hardware %}
            {
              label: '{{ hw[0] | replace('Darwin', '') | replace('Windows', '') }}',
              backgroundColor: toolColors[{{ loop.index }} % toolColors.length],
              data: [
                {% for tool in test_info %}
                  {% if test_info[tool][hw[0]].sync > 0 %}
                    '{{test_info[tool][hw[0]].sync}}'
                  {% endif %}
                {% endfor %}
              ]
            }{{ "," if not loop.last }}
          {% endfor %}
        ]

        var syncData = {
          labels: [' '],

          datasets: syncDataSet
        }

        syncToolDataSet = [
          {% for tool in test_info %}
            {
              label: '{{ tool }}',
              backgroundColor: toolColors[{{ loop.index }} % toolColors.length],
              data: [
                {% for hw in hardware %}
                  '{{ test_info[tool][hw[0]].sync | round(3) }}'{{ "," if not loop.last }}
                {% endfor %}
              ]
            }{{ "," if not loop.last }}
          {% endfor %}
        ]

        syncToolData = {
          labels: [
              {% for hw in hardware %}
                '{{ hw[0] | replace('Darwin', '') | replace('Windows', '') }}'{{ "," if not loop.last }}
              {% endfor %}
            ],

          datasets: syncToolDataSet
        }

        syncOptions = {
          maintainAspectRatio: false,
          legend: {position: 'right'},
          scales: {yAxes: [{ticks: {beginAtZero: true}}]}
        }

        syncToolOptions = {
          maintainAspectRatio: false,
          legend: {position: 'right'},
          scales: {
            xAxes: [{stacked: true}],
            yAxes: [{stacked: true}]
          }
        }

      {% endif %}

      renderDataSet = [
        {% for hw in hardware %}
          {
            label: '{{ hw[0] | replace('Darwin', '') | replace('Windows', '') }}',
            backgroundColor: toolColors[{{ loop.index }} % toolColors.length],
            data: [
              {% for tool in test_info %}
                {% if test_info[tool][hw[0]].render > 0 %}
                  '{{test_info[tool][hw[0]].render}}'
                {% endif %}
              {% endfor %}
            ]
          }{{ "," if not loop.last }}
        {% endfor %}
      ]

      var renderData = {
        labels: [' '],

        datasets: renderDataSet
      }

      renderToolDataSet = [
        {% for tool in test_info %}
          {
            label: '{{ tool }}',
            backgroundColor: toolColors[{{ loop.index }} % toolColors.length],
            data: [
              {% for hw in hardware %}
                '{{ test_info[tool][hw[0]].render | round(3) }}'{{ "," if not loop.last }}
              {% endfor %}
            ]
          }{{ "," if not loop.last }}
        {% endfor %}
      ]

      var renderToolData = {
        labels: [
            {% for hw in hardware %}
              '{{ hw[0] | replace('Darwin', '') | replace('Windows', '') }}'{{ "," if not loop.last }}
            {% endfor %}
          ],

        datasets: renderToolDataSet
      }

      renderOptions = {
        maintainAspectRatio: false,
        legend: {position: 'right'},
        scales: {yAxes: [{ticks: {beginAtZero: true}}]}
      }

      renderToolOptions = {
        maintainAspectRatio: false,
        legend: {position: 'right'},
        scales: {
          xAxes: [{stacked: true}],
          yAxes: [{stacked: true}]
        }
      }

      function createChart(elementID, dataSet, toolOptions) {
        var ctx = document.getElementById(elementID).getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: dataSet,
            options: toolOptions
        });
        return chart;
      }

      window.onload = function () {
        chartRender = createChart('chartRender', renderData, renderOptions);

        $('#checkboxChartRender').change(function(){
          if($(this).is(':checked')) {
            chartRender.data = renderToolData;
            chartRender.options = renderToolOptions;
          } else {
            chartRender.data = renderData;
            chartRender.options = renderOptions;
          }
          chartRender.update();
        })

        {% if synchronization_time %}
          chartSync = createChart('chartSync', syncData, syncOptions);

          $('#checkboxChartSync').change(function(){
            if($(this).is(':checked')) {
            chartSync.data = syncToolData;
            chartSync.options = syncToolOptions;
            } else {
            chartSync.data = syncData;
            chartSync.options = syncOptions;
            }
            chartSync.update();
          })
        {% endif %}
      }
    </script>
    {% endif %}

    <title>{{ title }}</title>
</head>

<body>
    <a name="#top"/>
    <a id="goTop" href="#top" title="Go top"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true" aria-label="Go top"></span></a>

    <div id="infoBox"></div>

    <div id="header">
        <img src="{{ pre_path}}/report_resources/img/logo.png"/>

        <ul>
            <li><a id="summaryA" href='{{ pre_path }}/summary_report.html'>summary</a></li>
            <li><a id="performanceA" href='{{ pre_path }}/performance_report.html'>performance</a></li>
            <li><a id="compareA" href='{{ pre_path }}/compare_report.html'>compare</a></li>
        </ul>
    </div>

    {% include "base_table_block.html" %}

    <hr>

    {% block report_body %}
    {% endblock %}

    <hr>

    <div id="footer">
        Luxoft RPR CIS
        <br>
        2017-2020
        <br>
        jobs_launcher v{{ "v" | get_jobs_launcher_version() }}
    </div>

</body>
</html>