{% extends "base_template.html"%}

{% block report_body %}

<h1>compare table</h1>

<button onclick="resizeAllImg()">Resize images</button>

<table id="compareTable"
       class="baseTable"
       data-toggle="table"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-sort-order="asc"
       data-sort-name="test_case"
       data-show-pagination-switch="true"
       data-pagination="true"
       data-page-list="[5, 10, 20, 45, ALL]"
>
    <thead>
        <tr>
            <th data-field="test_case" data-halign="center" data-sortable="true">Test case</th>
            {% for hw in hardware %}
            <th data-halign="center" data-formatter="metaAJAX">{{ hw }}</th>
            {% endfor %}
        </tr>
    </thead>

    {% for file in compare_report %}
    <tr>
        <td>{{ file }}</td>
        {% for hw in hardware %}
        <td>
            <img class="resizedImg" data-src="{{ compare_report[file][hw] }}" onclick="resizeImg(this)"/><br/>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}