{% extends "base_template.html"%}

{% block report_body %}

<h1>compare table</h1>

<table>
    <tr>
        <th>Test case</th>
        {% for hw in hardware %}
        <th>{{ hw }}</th>
        {% endfor %}
    </tr>

    {% for file in compare_report %}
    <tr>
        <td>{{ file }}</td>
        {% for hw in hardware %}
        <td>
            {{ file }}<br/>
            <img src="{{ compare_report[file][hw] }}"/><br/>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}