{% extends "base_template.html"%}

{% block report_body %}

<h1>compare table</h1>

<div class="dyna_table">
    <table id="compareTable">
        <thead>
            <th>Test case</th>
            {% for hw in hardware %}
            <th>{{ hw }}</th>
            {% endfor %}
        </thead>

        {% for file in compare_report %}
        <tr>
            <td>{{ file }}</td>
            {% for hw in hardware %}
            <td>
                <img src="{{ compare_report[file][hw] }}"/><br/>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}