{% extends "base_template.html"%}

{% block report_body %}

<h1>details</h1>

{%- if i != "_cur_" %}
<h3>{{ i }}</h3>
{% endif -%}

<div class="popup" id="imgsModal">
    <div class="popupContent" id="imgsModalContent">
        <form class="popupForm" oninput="currentThresholdView.value=parseFloat(thresholdRange.value)">
            <button class="commonButton closePopup" type="button" name="closePopupButton" onclick="closeModalWindow('imgsModal');return false;"><img src="report_resources/img/close-button.png"/></button>
            <button class="commonButton" type="button" name="increaseImgSizeButton" onclick="increaseImgSize();">Image Size +</button>
            <button class="commonButton" type="button" name="reduceImgSizeButton" onclick="reduceImgSize();">Image Size -</button>
            <button class="commonButton" type="button" name="showImgsSubstr" onclick="showImagesSubtraction('baselineImgPopup', 'renderedImgPopup');">Switch view mode</button>
            <input  autocomplete="true" id="thresholdRange" type="range"  name="thresholdSelector" min="0.0" max="1" step="0.01" value="0.03" oninput="renderCanvasData('baselineImgPopup', 'renderedImgPopup', this.value);"/>
            <output for="thresholdSelector" name="currentThresholdView">0.03</output>
        </form>
        <table class="baseTable" id="imgsCompareTable">
            <thead>
                <tr>
                    <th>Baseline Image</th>
                    <th>Rendered Image</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="hatching"><img src="" id="baselineImgPopup"/></td>
                    <td class="hatching"><img src="" id="renderedImgPopup"/></td>
                </tr>
            </tbody>
        </table>

        <table class="baseTable" id="imgsDiffTable" style="display: none">
            <thead>
                <tr>
                    <th>Difference Image</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="hatching" id="diffImageTd"><canvas id="imgsDifferenceCanvas"></canvas></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="jsTableWrapper">
    <div id="toolbar">
        <button class="commonButton" type="button" name="showOnlyPassedCases" onclick="searchTextInBootstrapTable('passed');">Show passed [{{ report[i].summary.passed }}]</button>
        <button class="commonButton" type="button" name="showOnlyFailedCases" onclick="searchTextInBootstrapTable('failed');">
            Show failed [{{ report[i].summary.failed }}]
            <span class="glyphicon glyphicon-question-sign" aria-haspopup="true" aria-hidden="true"data-toggle="tooltip" data-placement="top"
                  title="[Failed] status means that pixel difference with baseline image is too large."></span>
        </button>
        <button class="commonButton" type="button" name="showOnlyErrorCases" onclick="searchTextInBootstrapTable('error');">
            Show error [{{ report[i].summary.error }}]
            <span class="glyphicon glyphicon-question-sign" aria-haspopup="true" aria-hidden="true"data-toggle="tooltip" data-placement="top"
                  title="[Error] status means fatal error during render, terminating by timeout, or case wasn't launched at all."></span>
        </button>
        <button class="commonButton" type="button" name="showOnlySkippedCases" onclick="searchTextInBootstrapTable('skipped');">Show skipped [{{ report[i].summary.skipped }}]</button>
        <button class="commonButton" type="button" name="showAll" onclick="searchTextInBootstrapTable('');">Reset</button>
    </div>

    <table id="{{ i | lower | replace(' ', '_') | replace('(', '') | replace(')', '') }}"
           data-toolbar="#toolbar"
           class="baseTable detailedTable"
           data-toggle="table"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="false"
           data-show-columns="true"
           data-show-pagination-switch="true"
           data-pagination="true"
           data-page-size="10"
           data-page-list="[1, 5, 10, 20, 45, ALL]"
           data-sort-order="asc"
           data-sort-name="test_status"
           data-show-multi-sort="true"
    >

        {% block results_table_content %}
        {% endblock %}

    </table>
</div>

{% endblock %}