{% extends "base_template.html"%}

{% block report_body %}

<h1>details</h1>

    {% if i != "_cur_" %}
<h3>{{ i }}</h3>
    {% endif %}

<div class="popup" id="imgsModal">
    <div class="popupContent" id="imgsModalContent">
        <form class="popupForm">
            <button class="commonButton closePopup" type="button" name="closePopupButton" onclick="closeModalWindow('imgsModal');return false;"><img src="report_resources/img/close-button.png"/></button>
            <button class="commonButton" type="button" name="increaseImgSizeButton" onclick="increaseImgSize();">Image Size +</button>
            <button class="commonButton" type="button" name="reduceImgSizeButton" onclick="reduceImgSize();">Image Size -</button>
            <button class="commonButton" type="button" name="showImgsSubstr" onclick="showImagesSubtraction('baselineImgPopup', 'renderedImgPopup');">Switch view mode</button>
            <!--<input type="text" value="300" size="4" min="64" max="8000" name="inputImgSize"/>-->
            <!--<button type="button" name="setImgSize" onclick="setImgSize();">Set img size</button>-->
        </form>
        <table class="baseTable" id="imgsCompareTable">
            <thead>
                <tr>
                    <th>Baseline Image</th>
                    <th>Rendered Image</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="hatching"><img src="" id="baselineImgPopup"/></td>
                    <td class="hatching"><img src="" id="renderedImgPopup"/></td>
                </tr>
            </tbody>
        </table>

        <table class="baseTable" id="imgsDiffTable" style="display: none">
            <thead>
                <tr>
                    <th>Difference Image</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="hatching" id="diffImageTd"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--data-sort-priority='[{"sortName": "test_status", "sortOrder":"desc"},{"sortName": "pix_difference", "sortOrder":"desc"}]'-->
<div class="jsTableWrapper">
    <table id="{{ i | lower | replace(' ', '_') | replace('(', '') | replace(')', '') }}"
           class="baseTable detailedTable"
           data-toggle="table"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-show-pagination-switch="true"
           data-pagination="true"
           data-page-size="10"
           data-page-list="[1, 5, 10, 20, 45, ALL]"
           data-sort-order="desc"
           data-sort-name="test_status"
           data-show-multi-sort="true"
    >
        <thead>
            <tr>
                <th data-field="test_case" data-halign="center" data-valign="middle" data-sortable="true">Test case</th>
                <th data-halign="center" data-valign="middle" data-sortable="true">Parameters</th>
                <th data-field="render_time" data-halign="center" data-valign="middle" data-sortable="true" data-formatter="timeFormatter">Render time</th>
                <th data-field="test_status" data-halign="center" data-valign="middle" data-sortable="true" data-sorter="statusSorter">Test status</th>
                <th data-field="pix_diff" data-halign="center" data-valign="middle" data-sortable="true">Pixel diff, %</th>
                <th data-field="time_diff" data-halign="center" data-valign="middle" data-sortable="true">Render time diff, %</th>
                <th data-field="baseline_img" data-halign="center" data-valign="middle" data-sortable="true" data-events="openFullImgSize" data-formatter="metaAJAX">Baseline Color</th>
                <th data-field="rendered_img" data-halign="center" data-valign="middle" data-sortable="true" data-events="openFullImgSize" data-formatter="metaAJAX">Rendered color</th>
                <th data-filed="render_log" data-halign="center" data-valign="middle">Render log</th>
                <th data-field="copy_url_button" data-valign="middle" data-events="copyTestCaseName">Test case direct link</th>
            </tr>
        </thead>
        <tbody>
        {% for test_package, value in report[i].results | dictsort %}
            {% for test_conf, value in report[i].results[test_package] | dictsort%}
                {% if report[i].results[test_package][test_conf].render_results | length > 0 %}

                {% for item in report[i].results[test_package][test_conf].render_results %}
            <tr>
                <td>{{ item.test_case }}</td>
                <td>{% for param in item.script_info %}
                    {{ param }}<br>
                    {% endfor %}
                </td>
                <td>{{ item.render_time | round(2) }}</td>

                <td class="{{ item.test_status }}Status">
                    {{ item.test_status | title }}
                </td>

                <td>{{ item.difference_color }}</td>
                <td {% if item.difference_time > 5 %}
                        class="timeDiffFailedStatus"
                    {% endif %}>
                    {{ item.difference_time | round (2) }}</td>

                <td class="hatching">
                {% if item.baseline_color_path %}
                    {% if 'thumb64_baseline_color_path' in item %}
                    <img data-src="{{ item.thumb64_baseline_color_path }}"/>
                    {% else %}
                    <img data-src="{{ item.baseline_color_path }}"/>
                    {% endif %}
                {% else %}
                    Not compared
                {% endif %}
                </td>
                <td class="hatching">
                    {% if 'thumb64_render_color_path' in item %}
                    <img data-src="{{ item.thumb64_render_color_path }}"/>
                    {% else %}
                    <img data-src="{{ item.render_color_path }}"/>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ report[i].results[test_package][test_conf].result_path }}/renderTool.log">Render Log</a>
                </td>
                <td>
                    <button class="commonButton" type="button" name="copyDirectLinkButton">Copy to clipboard</button>
                </td>
            </tr>
                {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}