{% extends "detailed_summary_template.html"%}

{% block results_table_content %}

<thead>
    <tr>
        <th data-field="test_case" data-halign="center" data-valign="middle" data-sortable="true" data-visible="false">Test case</th>
        <th data-field="test_case_copy" data-halign="center" data-valign="middle" data-sortable="true" data-events="copyTestCaseName">
            Test case
            <span class="glyphicon glyphicon-question-sign" aria-haspopup="true" aria-hidden="true"data-toggle="tooltip" data-placement="top" title="Button click copy direct test case link to clipboard"></span>
        </th>

        <th data-halign="center" data-valign="middle" data-sortable="true">Parameters</th>

        <th data-field="test_status" data-halign="center" data-valign="middle" data-sortable="true">Test status
            <span class="glyphicon glyphicon-question-sign" aria-haspopup="true" aria-hidden="true"data-toggle="tooltip" data-placement="top" title="[Failed] status means that pixel difference with baseline image is too large.
[Error] status means fatal error during render, terminating by timeout, or case wasn't launched at all.
[Skipped] status means case wasn't launched by QA team decision."></span>
        </th>

        {# Render time #}
        <th data-field="render_time" data-halign="center" data-valign="middle" data-sortable="true" data-formatter="timeFormatterFull">Render time
            <span class="glyphicon glyphicon-question-sign" aria-haspopup="true" aria-hidden="true"data-toggle="tooltip" data-placement="top" title="hh:mm:ss"></span>
        </th>
        <th data-field="baseline_render_time" data-halign="center" data-valign="middle" data-sortable="true" data-formatter="timeFormatterFull">Baseline render time
            <span class="glyphicon glyphicon-question-sign" aria-haspopup="true" aria-hidden="true"data-toggle="tooltip" data-placement="top" title="hh:mm:ss"></span>
        </th>

        <th data-field="time_diff" data-halign="center" data-valign="middle" data-sortable="true">Render time diff, %</th>

        {# Baselines and results #}
        <th data-field="baseline_img" data-halign="center" data-valign="middle" data-sortable="true" data-events="openFullImgSize" data-formatter="metaAJAX">Baseline Color</th>
        <th data-field="rendered_img" data-halign="center" data-valign="middle" data-sortable="true" data-events="openFullImgSize" data-formatter="metaAJAX">Rendered color</th>

        {# Other info #}
        <th data-field="pix_diff_2" data-halign="center" data-valign="middle" data-sortable="true">
            Diff new
            <span class="glyphicon glyphicon-question-sign" aria-haspopup="true" aria-hidden="true"data-toggle="tooltip" data-placement="top" title="[1] - diff images.
[0] - equals images.
[-1] - images has diff resolution, so couldn't be compared."></span>
        </th>

        <th data-filed="render_log" data-halign="center" data-valign="middle">Log files</th>
    </tr>
</thead>
<tbody>
{% for test_package, value in report[i].results | dictsort %}
    {% for test_conf, value in report[i].results[test_package] | dictsort%}
        {% if report[i].results[test_package][test_conf].render_results | length > 0 %}

        {% for item in report[i].results[test_package][test_conf].render_results %}
    <tr>
        <td>{{ item.test_case }}</td>
        <td><button class="commonButton" type="button" name="copyDirectLinkButton">{{ item.test_case }}</button></td>

        <td>{%- for param in item.script_info %}
            {{ param }}<br>
            {% endfor -%}</td>

        <td class="{{ item.test_status }}Status">{{ item.test_status | title }}</td>

        {# Render time #}
        <td>{{ item.render_time | round(2) }}</td>
        <td>{{ item.baseline_render_time | round(2) }}</td>

        <td {%- if config.TIME_DIFF_MAX < item.difference_time %}
                class="timeWorseStatus"
            {% elif item.difference_time < -config.TIME_DIFF_MAX %}
                class="timeBetterStatus"
            {% endif -%}
            >
            {{ item.difference_time | round (2) }}</td>

        {# Baselines and results #}
        <td class="hatching">
        {% if item.baseline_color_path %}
            {% if 'thumb64_baseline_color_path' in item %}
            <img data-src="{{ item.thumb64_baseline_color_path }}"/>
            {% else %}
            <img data-src="{{ item.baseline_color_path }}"/>
            {% endif %}
        {% else %}
            Not compared
        {% endif %}
        </td>
        <td class="hatching">
            {% if 'thumb64_render_color_path' in item %}
            <img data-src="{{ item.thumb64_render_color_path }}"/>
            {% else %}
            <img data-src="{{ item.render_color_path }}"/>
            {% endif %}
        </td>

        {# Other info #}
        <td class="{{ item.test_status }}Status">{{ item.difference_color_2 }}</td>

        {# Log files #}
        <td>
            {%- if 'render_log' in item %}
            <a href="{{ item.render_log }}">Render log</a>
            {% else %}
            <a href="{{ report[i].results[test_package][test_conf].result_path }}/{{ config.REPORT_RPR_LOG }}">Render Log</a>
            {% endif -%}
        </td>

    </tr>
        {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}
</tbody>

{% endblock %}