<div class="popup" id="errorScreenModal">
    <div class="popupContent imgModalContent" id="errorScreenModalContent">
        <form class="popupForm" oninput="thresholdView.value=parseFloat(thresholdRange.value)">
            <button class="commonButton closePopup" type="button" name="closePopupButton" onclick="closeModalWindow('errorScreenModal');return false;"><img src="{{ pre_path }}/report_resources/img/close-button.png"/></button>
            <button class="commonButton" type="button" name="increaseErrorScreenButton" onclick="increaseImgSize();">Image Size +</button>
            <button class="commonButton" type="button" name="reduceErrorScreenButton" onclick="reduceImgSize();">Image Size -</button>
        </form>

        <div id="errorScreenDiv">
            <table class="baseTable imgCompareTable" id="errorScreenTable">
                <thead>
                    <tr>
                        <th>Error screen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="hatching"><img src="" id="errorScreenPopup"/></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>