<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="report_resources/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="report_resources/css/bootstrap-table.css"/>
    <link rel="stylesheet" type="text/css" href="report_resources/css/style.css"/>

    <script src="report_resources/js/jquery.min.js" type="text/javascript"></script>
    <script src="report_resources/js/bootstrap.js" type="text/javascript"></script>
    <script src="report_resources/js/bootstrap-table.js" type="text/javascript"></script>
    <script src="report_resources/js/scripts.js" type="text/javascript"></script>
    <script src="report_resources/js/extensions/multiple-sort/bootstrap-table-multiple-sort.js"></script>

    <script type="text/javascript">
        $(document).ready(function init(){
            $( "h3:containsCI('NVIDIA')" ).css( "color", "rgba(118, 185, 0, 1)" );
            $( "table.baseTable th:containsCI('NVIDIA')" ).css( "color", "rgba(118, 185, 0, 1)" );
            $( "h3:containsCI('GeForce')" ).css( "color", "rgba(118, 185, 0, 1)" );
            $( "table.baseTable th:containsCI('GeForce')" ).css( "color", "rgba(118, 185, 0, 1)" );

            $( "h3:containsCI('Radeon')" ).css( "color", "rgba(92, 136, 200, 1)" );
            $( "table.baseTable th:containsCI('Radeon')" ).css( "color", "rgba(92, 136, 200, 1)" );
            $( "h3:containsCI('AMD')" ).css( "color", "rgba(92, 136, 200, 1)" );
            $( "table.baseTable th:containsCI('AMD')" ).css( "color", "rgba(92, 136, 200, 1)" );

        {% if pageID is defined %}
            setActive({{ pageID }});
        {% endif %}
        });
    </script>

    <title>{{ title }}</title>
</head>

<body>
    <a name="#top"/>
    <a id="goTop" href="#top" title="Go top"></a>

    <div id="header">
        <img src="report_resources/img/logo.png"/>

        <ul>
            <li><a id="summaryA" href='summary_report.html'>summary</a></li>
            <li><a id="performanceA" href='performance_report.html'>performance</a></li>
            <li><a id="compareA" href='compare_report.html'>compare</a></li>
        </ul>
    </div>

    <div class="jsTableWrapper">
        <table class="baseTable"
               data-toggle="table"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-show-pagination-switch="true"
               data-pagination="true"
               data-page-list="[5, 10, 20, 45, ALL]"
               data-sort-order="desc"
               data-sort-name="test_status"
               data-show-multi-sort="true"
        >
            <thead>
                <tr>
                    <th data-halign="center" data-sortable="true" data-events="openFullImgSize" data-formatter="metaAJAX">Baseline</th>
                    <th data-halign="center" data-sortable="true" data-events="openFullImgSize" data-formatter="metaAJAX">Rendered</th>
                    <th data-filed="info" data-halign="center" data-sortable="true">Info</th>
                </tr>
            </thead>
            <tbody>
            {% for img in rendered_report %}
                <tr>
                    <td class="hatching"><img src="{{ img.render_color_path }}" onclick="resizeImg(this)" class="zoomImg"/></td>
                    <td class="hatching"><img src="{{ img.baseline_color_path }}" onclick="resizeImg(this)" class="zoomImg"/></td>
                    <td>INFO</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <hr>

    <div id="footer">
        Luxoft RPR CIS
        <br>
        2017-2018
    </div>

</body>
</html>