<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ pre_path }}/report_resources/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ pre_path }}/report_resources/css/bootstrap-table.css"/>
    <link rel="stylesheet" type="text/css" href="{{ pre_path }}/report_resources/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="{{ pre_path }}/report_resources/css/test-statuses.css"/>

    <script src="{{ pre_path }}/report_resources/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="{{ pre_path }}/report_resources/js/bootstrap.js" type="text/javascript"></script>
    <script src="{{ pre_path }}/report_resources/js/bootstrap-table.js" type="text/javascript"></script>
    <script src="{{ pre_path }}/report_resources/js/scripts.js" type="text/javascript"></script>
    <script src="{{ pre_path }}/report_resources/js/extensions/multiple-sort/bootstrap-table-multiple-sort.js"></script>

    <script src="{{ pre_path }}/report_resources/js/pixelmatch.js"></script>
    <script src="{{ pre_path }}/report_resources/js/images-substr.js"></script>
    <script src="{{ pre_path }}/report_resources/js/bootstrap-table-custom.js"></script>

    <script type="text/javascript">
        $(document).ready(function init(){
        {% if pageID is defined %}
            setActive({{ pageID }});
        {% endif %}
        });
    </script>

    <title>{{ title }}</title>
</head>

<body>
    <a name="#top"/>
    <a id="goTop" href="#top" title="Go top"></a>

    <div class="popup" id="imgsModal">
        <div class="popupContent" id="imgsModalContent">
            <form class="popupForm">
                <button class="commonButton closePopup" type="button" name="closePopupButton" onclick="closeModalWindow('imgsModal');return false;"><img src="{{ pre_path }}/report_resources/img/close-button.png"/></button>
                <button class="commonButton" type="button" name="increaseImgSizeButton" onclick="increaseImgSize();">Image Size +</button>
                <button class="commonButton" type="button" name="reduceImgSizeButton" onclick="reduceImgSize();">Image Size -</button>
                <button class="commonButton" type="button" name="showImgsSubstr" onclick="showImagesSubtraction('baselineImgPopup', 'renderedImgPopup');">Switch to difference</button>
                <!--<input type="text" value="300" size="4" min="64" max="8000" name="inputImgSize"/>-->
                <!--<button type="button" name="setImgSize" onclick="setImgSize();">Set img size</button>-->
            </form>
            <table class="baseTable" id="imgsCompareTable">
                <thead>
                    <tr>
                        <th>Baseline Image</th>
                        <th>Rendered Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="hatching"><img src="" id="baselineImgPopup"/></td>
                        <td class="hatching"><img src="" id="renderedImgPopup"/></td>
                    </tr>
                </tbody>
            </table>

            <table class="baseTable" id="imgsDiffTable" style="display: none">
            <thead>
                <tr>
                    <th>Difference Image</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="hatching" id="diffImageTd"></td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>

    <div id="infoBox"></div>

    <div id="header">
        <img src="{{ pre_path }}/report_resources/img/logo.png"/>

        <ul>
            <li><a id="summaryA" href='{{ pre_path }}/summary_report.html'>summary</a></li>
            <li><a id="performanceA" href='{{ pre_path }}/performance_report.html'>performance</a></li>
            <li><a id="compareA" href='{{ pre_path }}/compare_report.html'>compare</a></li>
        </ul>
    </div>

    <table class="baseTable">
        <tr>
            <th>Tool</th>
            <th>Render device</th>
            <th>Tests Package</th>
            <th>Plugin version</th>
            <th>Core version</th>
            <th>Testing start</th>
            <th>Branch name</th>
            <th>Commit SHA</th>
            <th>Commit message</th>
        </tr>
        <tr>
            <td>{{ common_info.tool }}</td>
            <td>{{ common_info.render_device }}</td>
            <td>{{ common_info.test_group }}</td>
            <td>{{ common_info.render_version }}</td>
            <td>{{ common_info.core_version }}</td>
            <td>{{ common_info.testing_start }}</td>
            <td>{{ common_info.branch_name }}</td>
            <td>{{ common_info.commit_sha }}</td>
            <td>{{ common_info.commit_message }}</td>
        </tr>
    </table>



    <hr/>

    <div class="jsTableWrapper">
        <table class="baseTable localReportTable"
               id="local"
               data-toggle="table"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-show-pagination-switch="true"
               data-pagination="true"
               data-page-size="5"
               data-page-list="[1, 5, 10, 20, 45, ALL]"
               data-sort-order="desc"
               data-show-multi-sort="true"
        >
            <thead>
                <tr>
                    <th data-field="test_case" data-halign="center" data-valign="middle" data-sortable="true">Test case</th>
                    <th data-field="baseline_img" data-halign="center" data-valign="middle" data-sortable="true" data-events="openFullImgSize" data-formatter="metaAJAX">Baseline</th>
                    <th data-field="rendered_img" data-halign="center" data-valign="middle" data-sortable="true" data-events="openFullImgSize" data-formatter="metaAJAX">Rendered</th>
                    <th data-filed="info" data-halign="center" data-sortable="true">Info</th>
                    <th data-filed="render_log" data-valign="middle">Render log</th>
                    <th data-field="copy_url_button" data-valign="middle" data-events="copyTestCaseName">Test case direct link</th>
                    <th data-field="test_status" data-halign="center" data-valign="middle" data-sortable="true" data-sorter="statusSorter">Test status</th>
                    <th data-field="pix_diff" data-halign="center" data-valign="middle" data-sortable="true">Pixel diff, %</th>
                    <th data-field="render_time" data-halign="center" data-valign="middle" data-sortable="true" data-formatter="timeFormatter">Render time</th>
                    <th data-field="baseline_time" data-halign="center" data-valign="middle" data-sortable="true" data-formatter="timeFormatter">Baseline time</th>
                    <th data-field="time_diff" data-halign="center" data-valign="middle" data-sortable="true">Render time diff, %</th>
                </tr>
            </thead>
            <tbody>
            {% for item in render_report %}
                <tr>
                    <td>{{ item.test_case }}</td>

                    <td class="hatching">
                    {% if item.baseline_color_path %}
                        <img data-src="{{ item.baseline_color_path }}"/>
                    {% else %}
                        Not compared
                    {% endif %}
                    </td>

                    <td class="hatching">
                        <img data-src="{{ item.render_color_path }}"/>
                    </td>

                    <td nowrap class="infoColumn
                    {%- if item.test_status != "passed" %}
                       badResult
                    {% endif -%}
                    ">
                        <b>Pixel difference:</b> {{ item.difference_color }} %<br/>
                        <b>Scene:</b> {{ item.scene_name }}<br/>
                        <b>Render time:</b> {{ item.render_time | round(3) }}<br/>
                        <b>Baseline render time:</b> {{ item.baseline_render_time | round(3) }}<br/>
                        <b>Difference render time:</b> {{ item.difference_time | round(3) }} %<br/>
                        <b>Test info:</b><br/>
                        {% for param in item.script_info %}
                            {{ param }}<br/>
                        {% endfor %}
                    </td>

                    <td>
                        <a href="renderTool.log">Render log</a>
                    </td>

                    <td>
                        <button class="commonButton" type="button" name="copyDirectLinkButton">Copy to clipboard</button>
                    </td>

                    <td class="{{ item.test_status }}Status">{{ item.test_status | title }}</td>
                    <td>{{ item.difference_color }}</td>
                    <td {% if item.difference_time > 5 %}
                        class="timeDiffFailedStatus"
                        {% endif %}
                        >{{ item.difference_time }}</td>
                    <td>{{ item.render_time }}</td>
                    <td>{{ item.baseline_render_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <hr>

    <div id="footer">
        Luxoft RPR CIS
        <br>
        2017-2018
    </div>

</body>
</html>