{% extends "local_template.html"%}

{% block results_table_content %}

<thead>
    <tr>
        <th data-field="test_case" data-halign="center" data-valign="middle" data-sortable="true" data-visible="false">Test case</th>
        <th data-field="test_case_copy" data-halign="center" data-valign="middle" data-sortable="true" data-events="copyTestCaseName">
            Test case
            <span class="glyphicon glyphicon-question-sign" aria-haspopup="true" aria-hidden="true"data-toggle="tooltip" data-placement="top" title="Button click copy direct test case link to clipboard"></span>
        </th>

        {# Baselines and results #}
        <th data-field="original_img" data-halign="center" data-valign="middle" data-sortable="true" data-events="openFullImgSize" data-formatter="metaAJAX">{{ original_render | title }}</th>
        <th data-field="baseline_img" data-halign="center" data-valign="middle" data-sortable="true" data-events="openFullImgSize" data-formatter="metaAJAX">RPR Baseline</th>
        <th data-field="rendered_img" data-halign="center" data-valign="middle" data-sortable="true" data-events="openFullImgSize" data-formatter="metaAJAX">RPR</th>

        <th data-field="time_diff" data-visible="true" data-halign="center" data-valign="middle" data-sortable="true">Render time diff, sec</th>

        {# Other info #}
        <th data-field="pix_diff" data-visible="true" data-halign="center" data-valign="middle" data-sortable="true">Pixel diff, %</th>

        <th data-field="test_status" data-visible="true" data-halign="center" data-valign="middle" data-sortable="true">Test status
            <span class="glyphicon glyphicon-question-sign" aria-haspopup="true" aria-hidden="true"data-toggle="tooltip" data-placement="top" title="[Failed] status means that pixel difference with baseline image is too large.
[Error] status means fatal error during render, terminating by timeout, or case wasn't launched at all.
[Skipped] status means case wasn't launched by QA team decision."></span>
        </th>

        {# Render time #}
        <th data-field="original_time" data-visible="true" data-halign="center" data-valign="middle" data-sortable="true" data-formatter="timeFormatterFull">{{ original_render | title }} render time</th>
        <th data-field="baseline_render_time" data-visible="true" data-halign="center" data-valign="middle" data-sortable="true" data-formatter="timeFormatterFull">Baseline render time</th>
        <th data-field="render_time" data-visible="true" data-halign="center" data-valign="middle" data-sortable="true" data-formatter="timeFormatterFull">RPR render time</th>

        <th data-filed="render_log" data-visible="true" data-halign="center" data-valign="middle">Log files</th>
    </tr>
    </thead>
    <tbody>
    {% for item in render_report %}
    <tr>
        <td>{{ item.test_case }}</td>
        <td><button class="commonButton" type="button" name="copyDirectLinkButton">{{ item.test_case }}</button></td>

        {# Baselines and results #}
        <td class="hatching">
        {% if item.original_color_path %}
            {% if 'thumb256_baseline_color_path' in item %}
            <img data-src="{{ item.thumb256_original_color_path }}"/>
            {% else %}
            <img data-src="{{ item.original_color_path }}"/>
            {% endif %}
        {% else %}
            Not compared
        {% endif %}
        </td>

        <td class="hatching">
        {% if item.baseline_color_path %}
            {% if 'thumb256_baseline_color_path' in item %}
            <img data-src="{{ item.thumb256_baseline_color_path }}"/>
            {% else %}
            <img data-src="{{ item.baseline_color_path }}"/>
            {% endif %}
        {% else %}
            Not compared
        {% endif %}
        </td>

        <td class="hatching">
            {% if 'thumb256_render_color_path' in item %}
            <img data-src="{{ item.thumb256_render_color_path }}"/>
            {% else %}
            <img data-src="{{ item.render_color_path }}"/>
            {% endif %}
        </td>

        <td {%- if config.TIME_DIFF_MAX < item.difference_time %}
                class="timeWorseStatus"
            {% elif item.difference_time < -config.TIME_DIFF_MAX %}
                class="timeBetterStatus"
            {% endif -%}
            >
            {{ item.difference_time | round (3) }}</td>

        {# Other info #}
        <td class="{{ item.test_status }}Status">{{ item.difference_color }}</td>

        <td class="{{ item.test_status }}Status">{{ item.test_status | title }}</td>

        {# Render time #}
        <td>{{ item.or_render_time }}</td>
        <td>{{ item.baseline_render_time }}</td>
        <td>{{ item.render_time }}</td>

        {# Log files #}
        <td>
            <a href="{{ item.original_render_log }}">{{ original_render | title }} log</a><br/>
            <a href="{{ item.scene_name }}.{{ config.REPORT_CONVERSION_LOG }}">Conversion log</a><br/>
            <a href="{{ config.REPORT_RPR_LOG }}">RPR log</a>
        </td>

    </tr>
    {% endfor %}
    </tbody>

{% endblock %}