{% extends "base_template.html"%}

{% block report_body %}
<h1>summary</h1>
<h2>total render duration in seconds</h2>
<table class="baseTable">
    <tr>
        <th>Tool</th>
        {% for hw in hardware %}
        <th>{{ hw[0] }}</th>
        {% endfor %}
    </tr>

    {% for tool in performance_report %}
    <tr>
        <td>{{ tool }}</td>
        {% for hw in hardware %}
            {% if performance_report[tool][hw[0]] %}
        <td>{{ hw[1] | round(1) }}</td>
            {% else %}
        <td></td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<hr/>

<h1>graph</h1>
<div id="columnchart"></div>

<hr/>

<h1>details</h1>
<h2>render duration by test groups in seconds</h2>
{% for tool in performance_report_detail %}
<h3>{{ tool }}</h3>
    <table class="baseTable">

        <tr>
            <th>Test</th>
            {% for hw in hardware %}
            <th>{{ hw }}</th>
            {% endfor %}
        </tr>

    {% for test_package in performance_report_detail[tool] %}
        {% for test_config in performance_report_detail[tool][test_package] %}
        <tr>
            <td>{{ test_package }} {{ test_config }}</td>
            {% for hw in hardware %}
            <td>{{ performance_report_detail[tool][test_package][test_config][hw].render_duration | round(3) if performance_report_detail[tool][test_package][test_config][hw] else '' }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    {% endfor %}
    </table>
{% endfor %}

{% endblock %}