<div class="popup" id="{{ performance_window_name }}">
    <div class="popupContent popupHalfWidth">
        <form class="popupForm">
            <button class="commonButton closePopup" type="button" onclick="closeModalWindow('{{ performance_window_name }}');return false;"><img src="{{ pre_path }}/report_resources/img/close-button.png"/></button>
        </form>
        <div class="performance_tab" style="position: relative; width:1280px; margin:auto;">
            {% if groupped_tracked_metrics | length > 1 %}
                <div class="performance_tab" style="height:30px; width:1280px;">
                    <form class="popupForm" style="position: relative; text-align:left; top: 0.5vw;">
                        {#- Generate button for each metric -#}
                        {% for metric_group_name in groupped_tracked_metrics | reverse %}
                            <button class="commonButton closePopup" type="button" onclick="changeMetric('{{ performance_chart_name }}', '{{ metric_group_name }}');return false;">{{ groupped_tracked_metrics[metric_group_name]['config']['displaying_name'] }}</button>
                        {% endfor %}
                    </form>
                </div>
            {% endif %}
            <div class="performance_tab" style="height:30px; width:1280px;">
                <form class="popupForm" style="position: relative; text-align:left; top: 0.5vw;">
                    <button class="commonButton closePopup" type="button" onclick="showPartOfBuilds('{{ performance_chart_name }}', 10);return false;">Show last 10</button>
                    <button class="commonButton closePopup" type="button" onclick="showPartOfBuilds('{{ performance_chart_name }}', 50);return false;">Show last 50</button>
                    <button class="commonButton closePopup" type="button" onclick="showPartOfBuilds('{{ performance_chart_name }}', 100);return false;">Show last 100</button>
                    <button class="commonButton closePopup" type="button" onclick="showPartOfBuilds('{{ performance_chart_name }}', 200);return false;">Show last 200</button>
                    <button class="commonButton closePopup" type="button" onclick="showPartOfBuilds('{{ performance_chart_name }}', -1);return false;">Show all</button>
                    <button class="commonButton closePopup" style="margin-left: 40px" type="button" onclick="downloadCSV('{{ performance_chart_name }}');return false;">Download CSV</button>
                </form>
            </div>
            <div class="performance_tab" style="height:670px; width:1280px;">
                <script type="text/javascript">
                    {
                        let currentChart = "{{ performance_chart_name }}"
                        if (!performanceCharts[currentChart]) {
                            performanceCharts[currentChart] = {}
                        }
                        if (!performanceCharts[currentChart].renderData) {
                            performanceCharts[currentChart].renderData = {}
                        }
                        if (!performanceCharts[currentChart].optionsData) {
                            performanceCharts[currentChart].optionsData = {}
                        }
                        let nextColorIndex = 0
                        let options
                        let labels
                        let datasets
                        let dataset
                        let has_only_nulls
                        {% for metric_group_name in groupped_tracked_metrics %}
                            datasets = []

                            {% if groupped_tracked_metrics[metric_group_name]['config'] %}
                                {% if groupped_tracked_metrics[metric_group_name]['config']['displaying_unit'] %}
                                    options = { "title": { "display": true, "text": "{{ groupped_tracked_metrics[metric_group_name]['config']['displaying_name'] }} per build ({{ groupped_tracked_metrics[metric_group_name]['config']['displaying_unit'] }})" }}
                                {% else %}
                                        options = { "title": { "display": true, "text": "{{ groupped_tracked_metrics[metric_group_name]['config']['displaying_name'] }} per build" }}
                                {% endif %}
                            {% endif %}

                            labels = [
                                {% for build_number in tracked_metrics_history %}
                                    "Build #{{ build_number }}"{{ "," if not loop.last }}
                                {% endfor %}
                            ]

                            {% for tracked_metric in groupped_tracked_metrics[metric_group_name]['metrics'] %}
                                dataset = {}
                                // check that dataset doesn't contain only null values
                                has_only_nulls = true
                                dataset.label = "{{ groupped_tracked_metrics[metric_group_name]['metrics'][tracked_metric]['displaying_name'] }}"
                                dataset.borderColor = colors[nextColorIndex]
                                nextColorIndex = (nextColorIndex + 1) % colors.length
                                dataset.data = [
                                {%- for build_number in tracked_metrics_history -%}
                                    {%- if performance_window_scope == "platform" -%}
                                        {% if i in tracked_metrics_history[build_number] -%}
                                            {%- set platform = tracked_metrics_history[build_number][i] -%}
                                            {%- if tracked_metric in platform['summary'] -%}
                                                {%- if platform['summary'][tracked_metric] != 0 or groupped_tracked_metrics[metric_group_name]['config']['display_zeros'] -%}
                                                    "{{ platform['summary'][tracked_metric] | round(3) }}"{{ "," if not loop.last }}
                                                {%- else -%}
                                                    null{{ "," if not loop.last }}
                                                {%- endif -%}
                                            {%- else -%}
                                                null{{ "," if not loop.last }}
                                            {%- endif -%}
                                        {%- else -%}
                                            null{{ "," if not loop.last }}
                                        {%- endif -%}
                                    {%- elif performance_window_scope == "test_group" -%}
                                        {% if i in tracked_metrics_history[build_number] and test_package in tracked_metrics_history[build_number][i]['groups'] -%}
                                            {%- set test_group = tracked_metrics_history[build_number][i]['groups'][test_package] -%}
                                            {%- if tracked_metric in test_group['summary'] -%}
                                                {%- if test_group['summary'][tracked_metric] != 0 or groupped_tracked_metrics[metric_group_name]['config']['display_zeros'] -%}
                                                    "{{ test_group['summary'][tracked_metric] | round(3) }}"{{ "," if not loop.last }}
                                                {%- else -%}
                                                    null{{ "," if not loop.last }}
                                                {%- endif -%}
                                            {%- else -%}
                                                null{{ "," if not loop.last }}
                                            {%- endif -%}
                                        {%- else -%}
                                            null{{ "," if not loop.last }}
                                        {%- endif -%}
                                    {%- elif performance_window_scope == "test_case" -%}
                                        {% if platform in tracked_metrics_history[build_number] and test_group in tracked_metrics_history[build_number][platform]['groups'] and test_case in tracked_metrics_history[build_number][platform]['groups'][test_group]['metrics'] -%}
                                            {%- set test_case_data = tracked_metrics_history[build_number][platform]['groups'][test_group]['metrics'][test_case] -%}
                                            {%- if tracked_metric in test_case_data -%}
                                                {%- if test_case_data[tracked_metric] != 0 or groupped_tracked_metrics[metric_group_name]['config']['display_zeros'] -%}
                                                    "{{ test_case_data[tracked_metric] | round(3) }}"{{ "," if not loop.last }}
                                                {%- else -%}
                                                    null{{ "," if not loop.last }}
                                                {%- endif -%}
                                            {%- else -%}
                                                null{{ "," if not loop.last }}
                                            {%- endif -%}
                                        {%- else -%}
                                            null{{ "," if not loop.last }}
                                        {%- endif -%}
                                    {%- endif -%}
                                {%- endfor -%}
                                ]

                                for (i in dataset.data) {
                                    if (dataset.data[i] || dataset.data[i] == 0) {
                                        has_only_nulls = false
                                        break
                                    }
                                }
                                if (!has_only_nulls) {
                                    datasets.push(dataset)
                                }
                            {% endfor %}
                            performanceCharts[currentChart].renderData["{{ metric_group_name }}"] = { "labels": labels, "datasets": datasets }
                            performanceCharts[currentChart].optionsData["{{ metric_group_name }}"] = options
                        {% endfor %}

                        // initialize chart with data from the last iteration
                        performanceCharts[currentChart].chart = new Chart(document.getElementById(currentChart), { "type": "line", "data": { "labels": labels, "datasets": [ dataset ] }, "options": options });
                    }
                </script>                                    
                <canvas id="{{ performance_chart_name }}" style="position: relative; top: 1vw;"></canvas>
            </div>
        </div>
    </div>
</div>