{% extends "base_template.html"%}

{% block report_body %}
<h1>render time</h1>
<h2>total render duration in seconds</h2>
<table class="baseTable">
    <tr>
        <th>Tool</th>
        {% for hw in hardware %}
        <th>{{ hw[0] }}</th>
        {% endfor %}
    </tr>

    {% for tool in test_info %}
    <tr>
        <td>{{ tool }}</td>
        {% for hw in hardware %}
            {% if test_info[tool][hw[0]].render == -0.0 %}
                <td>-</td>
            {% else %}
                <td
                    {% if test_info[tool]['actual'] is not defined %}
                        class=skippedStatus
                    {% endif %}
                >{{ test_info[tool][hw[0]].render | round(1)}}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<h2>graph</h2>
<div id="columnchartRender"></div>

<h2 class="card-header collapsed" href="#render_time" data-toggle="collapse">details</h2>
<div id="render_time" class="collapse">
    <div class="jsTableWrapper">
        <table class="baseTable"
            data-toggle="table"
            data-search="true"
            data-show-refresh="true"
            data-show-toggle="true"
            data-show-columns="true"
            data-show-pagination-switch="true"
            data-pagination="false"
            data-page-list="[5, 10, 20, 45, ALL]"
            data-sort-order="desc"
            data-sort-name="test_status"
            data-show-multi-sort="true"
            data-toolbar="#toolbar_render"
        >
            <div id="toolbar_render">
                <h2 style="margin: auto;">render duration by test groups in seconds</h2>
            </div>
            <thead>
            <tr>
                <th data-halign="center" data-sortable="true">Test</th>
                {% for hw in hardware %}
                    <th data-halign="center" data-sortable="true" data-cell-style="performanceNormalizeStyleFormatter">{{ hw[0] }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for test_package in performance_report_detail %}
                    <tr>
                        <td>{{ test_package }}</td>
                        {% for hw in hardware %}
                            <td>
                                {% if performance_report_detail[test_package][hw[0]].render == 0 %}
                                    Skipped
                                {% else %}
                                    {{ performance_report_detail[test_package][hw[0]].render | round(1) | replace("-0.0","-") }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="jsTableWrapper">
        <table id="normalizedPerformance"
            class="baseTable"
            data-toggle="table"
            data-search="true"
            data-show-refresh="true"
            data-show-toggle="true"
            data-show-columns="true"
            data-show-pagination-switch="true"
            data-pagination="false"
            data-page-list="[5, 10, 20, 45, ALL]"
            data-sort-order="desc"
            data-sort-name="test_status"
            data-show-multi-sort="true"
            data-toolbar="#toolbar_render_norm"
        >
            <div id="toolbar_render_norm">
                <h2 style="margin: auto;">relative render duration</h2>
            </div>
            <thead>
            <tr>
                <th data-filed="test_case" data-halign="center" data-sortable="true">Test</th>
                {% for hw in hardware %}
                <th data-filed="{{ hw[0] }}" data-halign="center" data-sortable="true" data-formatter="performanceNormalizeFormatter" data-cell-style="performanceNormalizeStyleFormatter">{{ hw[0] }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for test_package in performance_report_detail %}
                    <tr>
                        <td>{{ test_package }}</td>
                        {% for hw in hardware %}
                            <td>
                                {{ performance_report_detail[test_package][hw[0]].render | round(1) | replace("-0.0","-") }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<hr/>
<h1>synchronization time</h1>
<h2>total synchronization duration in seconds</h2>
<table class="baseTable">
    <tr>
        <th>Tool</th>
        {% for hw in hardware %}
        <th>{{ hw[0] }}</th>
        {% endfor %}
    </tr>

    {% for tool in test_info %}
    <tr>
        <td>{{ tool }}</td>
        {% for hw in hardware %}
            {% if test_info[tool][hw[0]].sync == -0.0 %}
                <td>-</td>
            {% else %}
                <td
                    {% if test_info[tool]['actual'] is not defined %}
                        class=skippedStatus
                    {% endif %}
                >{{ test_info[tool][hw[0]].sync | round(1)}}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<h2>graph</h2>
<div id="columnchartSync"></div>

<h2 class="card-header collapsed" href="#sync_time" data-toggle="collapse">details</h2>
<div id="sync_time" class="collapse">
    <div class="jsTableWrapper">
        <table class="baseTable"
            data-toggle="table"
            data-search="true"
            data-show-refresh="true"
            data-show-toggle="true"
            data-show-columns="true"
            data-show-pagination-switch="true"
            data-pagination="false"
            data-page-list="[5, 10, 20, 45, ALL]"
            data-sort-order="desc"
            data-sort-name="test_status"
            data-show-multi-sort="true"
            data-toolbar="#toolbar_sync"
        >
            <div id="toolbar_sync">
                <h2 style="margin: auto;">synchronization duration by test groups in seconds</h2>
            </div>
            <thead>
            <tr>
                <th data-halign="center" data-sortable="true">Test</th>
                {% for hw in hardware %}
                    <th data-halign="center" data-sortable="true" data-cell-style="performanceNormalizeStyleFormatter">{{ hw[0] }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for test_package in performance_report_detail %}
                    <tr>
                        <td>{{ test_package }}</td>
                        {% for hw in hardware %}
                            <td>
                                {% if performance_report_detail[test_package][hw[0]].render == 0 %}
                                    Skipped
                                {% else %}
                                    {{ performance_report_detail[test_package][hw[0]].sync | round(2) | replace("-0.00","-") }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="jsTableWrapper">
        <table id="normalizedPerformance"
            class="baseTable"
            data-toggle="table"
            data-search="true"
            data-show-refresh="true"
            data-show-toggle="true"
            data-show-columns="true"
            data-show-pagination-switch="true"
            data-pagination="false"
            data-page-list="[5, 10, 20, 45, ALL]"
            data-sort-order="desc"
            data-sort-name="test_status"
            data-show-multi-sort="true"
            data-toolbar="#toolbar_sync_norm"
        >
            <div id="toolbar_sync_norm">
                <h2 style="margin: auto;">relative synchronization duration</h2>
            </div>
            <thead>
            <tr>
                <th data-filed="test_case" data-halign="center" data-sortable="true">Test</th>
                {% for hw in hardware %}
                <th data-filed="{{ hw[0] }}" data-halign="center" data-sortable="true" data-formatter="performanceNormalizeFormatter" data-cell-style="performanceNormalizeStyleFormatter">{{ hw[0] }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for test_package in performance_report_detail %}
                    <tr>
                        <td>{{ test_package }}</td>
                        {% for hw in hardware %}
                            <td>
                                {{ performance_report_detail[test_package][hw[0]].sync | round(2) | replace("-0.00","-") }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% if setupTimeSum != None %}
    <hr/>
    <h1>setup time steps</h1>
    <h2>total setup time duration in seconds</h2>
    <table class="baseTable">
        <tr>
            <th>Step</th>
            {% for hw in hardware %}
            <th>{{ hw[0] }}</th>
            {% endfor %}
        </tr>

        {% for setup_step in setupTimeSum['steps'] %}
        <tr>
            <td>{{ setup_step }}</td>
            {% for hw in hardware %}
                <td>{{ setupTimeSum[hw[0]][setup_step] | round(1) | replace("-0.00","-") }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <h2 class="card-header collapsed" href="#setup_time" data-toggle="collapse">details</h2>
    <div id="setup_time" class="collapse">
        {% for test_package in performance_report_detail %}
            <div class="jsTableWrapper">
                <table class="baseTable"
                    data-toggle="table"
                    data-search="true"
                    data-show-refresh="true"
                    data-show-toggle="true"
                    data-show-columns="true"
                    data-show-pagination-switch="true"
                    data-pagination="false"
                    data-page-list="[5, 10, 20, 45, ALL]"
                    data-sort-order="desc"
                    data-sort-name="test_status"
                    data-show-multi-sort="true"
                    data-toolbar="#toolbar_setup_{{ test_package }}"
                >
                    <div id="toolbar_setup_{{ test_package }}">
                        <h2 style="margin: auto;">setup time for {{ test_package | lower }} in seconds</h2>
                    </div>
                    <thead>
                    <tr>
                        <th data-halign="center" data-sortable="true">Test</th>
                        {% for hw in hardware %}
                            <th data-halign="center" data-sortable="true" data-cell-style="performanceNormalizeStyleFormatter">{{ hw[0] }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for setup_step in setupTimeSum['steps'] %}
                            <tr>
                                <td>{{ setup_step }}</td>
                                {% for hw in hardware %}
                                    <td>
                                        {% if setupTimeDetails[hw[0]][test_package][setup_step] == 0 %}
                                            ~0.0
                                        {% else %}
                                            {{ setupTimeDetails[hw[0]][test_package][setup_step] | replace("-0.0","-") }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}