{% extends "base_template.html"%}

{% block report_body %}
<h1>info</h1>

<div class="jsTableWrapper">
    <table class="baseTable twoSetupTimes"
            data-toggle="table"
            data-show-columns="true"
            id="summary_table">
        <thead>
            <tr>
                <th>Job Name</th>
                <th data-formatter="timeFormatterFull">Render time Tahoe</th>
                <th data-formatter="timeFormatterFull">Render time NorthStar</th>
                <th data-formatter="timeFormatterFull">Synchronization time Tahoe</th>
                <th data-formatter="timeFormatterFull">Synchronization time NorthStar</th>
                <th data-formatter="timeFormatterFull">Time taken Tahoe</th>
                <th data-formatter="timeFormatterFull">Time taken NorthStar</th>
            </tr>
        </thead>
        <tbody>
    {% for i, value in report | dictsort %}
            <tr>
                <td>{% if i != "_cur_" %}
                    <a href="#{{ i }}">{{ i }}</a>
                    {% else %}
                    "Job name"
                    {% endif %}
                </td>

                <td
                {%- if report[i].summary.render_duration == -0.0 and report[i].summary.total != report[i].summary.skipped %}
                class="badResult"
                {% endif -%}
                >{{ report[i].summary.render_duration | round(3) }}</td>
                <td
                {%- if report[i].summary.render_duration_north == -0.0 and report[i].summary.total != report[i].summary.skipped %}
                class="badResult"
                {% endif -%}
                >{{ report[i].summary.render_duration_north | round(3) }}</td>

                <td>{{ report[i].summary.synchronization_duration }}</td>
                <td>{{ report[i].summary.synchronization_duration_north }}</td>

                <td>{{ report[i].summary.duration_sync }}</td>
                <td>{{ report[i].summary.render_duration_north + report[i].summary.synchronization_duration_north }}</td>

            </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
<hr>

<h1>tests</h1>

{% for i, value in report | dictsort %}

<div class="jsTableWrapper">
    {% if i != "_cur_" %}
        <div id="summary_table_toolbar_{{ loop.index }}">
            <caption><h3 style="margin: 2% 7%; width:130%;"><a href="{{ i }}_detailed.html">{{ i }}</a></h3></caption>
            <a class="hAnchor" name="{{ i }}"></a>
        </div>
    {% endif %}
    <table class="baseTable twoSetupTimes"
        data-toggle="table"
        data-show-columns="true"
        data-toolbar="#summary_table_toolbar_{{ loop.index }}"
        id="summary_table_{{ loop.index }}">
        <thead>
            <tr>
                <th>Test package name</th>
                <th>Local report</th>
                <th data-formatter="timeFormatterFull">Render time Tahoe</th>
                <th data-formatter="timeFormatterFull">Render time NorthStar</th>
                <th data-formatter="timeFormatterFull">Synchronization time Tahoe</th>
                <th data-formatter="timeFormatterFull">Synchronization time NorthStar</th>
                <th data-formatter="timeFormatterFull">Time taken Tahoe</th>
                <th data-formatter="timeFormatterFull">Time taken NorthStar</th>
            </tr>
        </thead>
        <tbody>
    {% for test_package, value in report[i].results | dictsort %}
        {% set resultsloop = loop %}
            <tr>
                <td>{{ test_package }}</td>
            {% for test_conf, value in report[i].results[test_package] | dictsort %}

                {% if report[i].results[test_package][test_conf].result_path %}
                <td><a href="{{ report[i].results[test_package][test_conf].result_path }}/report.html">Report</a></td>
                {% else %}
                <td>Report</td>
                {% endif %}

                <td
                {% if report[i].results[test_package][test_conf].render_duration == -0.0 and report[i].results[test_package][test_conf].total != report[i].results[test_package][test_conf].skipped %}
                class="badResult"
                {% endif %}
                >{{ report[i].results[test_package][test_conf].render_duration | round(3) }}</td>
                <td
                {% if report[i].results[test_package][test_conf].render_duration_north == -0.0 and report[i].results[test_package][test_conf].total != report[i].results[test_package][test_conf].skipped %}
                class="badResult"
                {% endif %}
                >{{ report[i].results[test_package][test_conf].render_duration_north | round(3) }}</td>

                <td>{{ report[i].results[test_package][test_conf].synchronization_duration }}</td>
                <td>{{ report[i].results[test_package][test_conf].synchronization_duration_north }}</td>

                <td>{{ report[i].results[test_package][test_conf].render_duration + report[i].results[test_package][test_conf].synchronization_duration }}</td>
                <td>{{ report[i].results[test_package][test_conf].render_duration_north + report[i].results[test_package][test_conf].synchronization_duration_north }}</td>

            </tr>
            {% endfor %}
        {% endfor %}

            <tr class="summary_tr">
                <td colspan="2">Sum</td>

                <td
                {% if report[i].summary.render_duration == -0.0 and report[i].summary.total != report[i].summary.skipped %}
                class="badResult"
                {% endif %}
                >{{ report[i].summary.render_duration | round(3) }}</td>
                <td
                {% if report[i].summary.render_duration_north == -0.0 and report[i].summary.total != report[i].summary.skipped %}
                class="badResult"
                {% endif %}
                >{{ report[i].summary.render_duration_north | round(3) }}</td>

                <td>{{ report[i].summary.synchronization_duration }}</td>
                <td>{{ report[i].summary.synchronization_duration_north }}</td>

                <td>{{ report[i].summary.duration_sync }}</td>
                <td>{{ report[i].summary.render_duration_north + report[i].summary.synchronization_duration_north }}</td>

            </tr>
        </tbody>
    </table>
</div>
{% endfor %}

{% endblock %}