{% extends "base_template.html"%}

{% block report_body %}
<h1>info</h1>

<table>
    <tr>
        <th>Job-Name</th>
        <th>Host</th>
        <th>Total</th>
        <th>Passed</th>
        <th>Failed</th>
        <th>Time taken, s</th>
        <th>Render time, s</th>
    </tr>
{% for i, value in report | dictsort %}
    <tr>
        <td>{% if i != "_cur_" %}
                {{ i | lower }}
            {% else %}
                "Job name"
            {% endif %}
        </td>
        <td>
            <a href="#machineInfo{{ loop.index }}">{{ report[i].machine_info.host }}</a>
            <a href="#x" class="overlay" id="machineInfo{{ loop.index }}"></a>
            <div class="popup">
                <a class="close" title="Close" href="#close"></a>
                <table class="logTable">
                    <tr>
                        <th>OS</th>
                        <th>RAM, Gb</th>
                        <th>CPU</th>
                        <th>CPU count</th>
                        <th>GPU</th>
                        <th>Plugin</th>
                        <th>Core</th>
                    </tr>
                    <tr>
                        <td>{{ report[i].machine_info.os }}</td>
                        <td>{{ report[i].machine_info.ram | round }}</td>
                        <td>{{ report[i].machine_info.cpu }}</td>
                        <td>{{ report[i].machine_info.cpu_count }}</td>
                        <td>{{ report[i].machine_info.render_device }}</td>
                        <td>{{ report[i].machine_info.render_version }}</td>
                        <td>{{ report[i].machine_info.core_version }}</td>
                    </tr>
                </table>
            </div>
        </td>
        <td>{{ report[i].summary.total }}</td>
        <td>{{ report[i].summary.passed }}</td>
        <td>{{ report[i].summary.failed }}</td>
        <td>{{ report[i].summary.duration }}</td>
        <td>{{ report[i].summary.render_duration | round(1) }}</td>
    </tr>
{% endfor %}
</table>

<hr>

<h1>tests</h1>

{% for i, value in report | dictsort %}
<h2>{{ i | lower }}</h2>

<table>
    <tr>
        <th>Test package name</th>
        <th>Config</th>
        <th>Local report link</th>
        <th>Total</th>
        <th>Passed</th>
        <th>Failed</th>
        <th>Time taken</th>
        <th>Render time</th>
    </tr>

{% for test_package, value in report[i].results | dictsort %}
    {% set resultsloop = loop %}
    <tr>
        <td rowspan="{{ report[i].results[test_package] | length }}"><a href="#{{ i }}{{ test_package }}">{{ test_package }}</a></td>
    {% for test_conf, value in report[i].results[test_package] | dictsort %}
        <td><a href="#{{ i }}{{ test_package }}{{ test_conf }}">{{ test_conf }}</a></td>
        <td><a href="{{ report[i].results[test_package][test_conf].result_path }}/result.html">Report</a></td>
        <td>{{ report[i].results[test_package][test_conf].total }}</td>
        <td>{{ report[i].results[test_package][test_conf].passed }}</td>
        <td>{{ report[i].results[test_package][test_conf].failed }}</td>
        <td>{{ report[i].results[test_package][test_conf].duration }}</td>
        <td>{{ report[i].results[test_package][test_conf].render_duration | round(1) }}</td>
    </tr>
    <tr>
    {% endfor %}
    </tr>
{% endfor %}

    <tr class="summary_tr">
        <td colspan="3">Sum</td>
        <td>{{ report[i].summary.total }}</td>
        <td>{{ report[i].summary.passed }}</td>
        <td>{{ report[i].summary.failed }}</td>
        <td>{{ report[i].summary.duration }}</td>
        <td>{{ report[i].summary.render_duration | round(1) }}</td>
    </tr>

</table>
{% endfor %}

<hr>

<h1>details</h1>

{% for i, value in report | dictsort %}
<h2>{{ i | lower }}</h2>

<div class="dyna_table">
    <table id="{{ i | lower }}">
        <thead>
            <th>Test case</th>
            <th>Parameters</th>
            <th data-dynatable-column="renderTime">Render time, s</th>
            <th data-dynatable-column="pixelDifference">Pixel Difference, %</th>
            <th>Baseline Color</th>
            <th>Rendered color</th>
        </thead>
        <tbody>
        {% for test_package, value in report[i].results | dictsort %}
            {% for test_conf, value in report[i].results[test_package] | dictsort%}
                {% if report[i].results[test_package][test_conf].render_results | length > 0 %}

                {% for item in report[i].results[test_package][test_conf].render_results %}
                    {% if not item.difference_color is string and item.difference_color > 30 %}
            <tr class="badResultTR">
                        {% else %}
            <tr>
                        {% endif %}
                <td>{{ item.file_name }}</td>
                <td>{% for param in item.script_info %}
                    {{ param }}
                    {% endfor %}
                </td>
                <td>{{ item.render_time | round(3) }}</td>
                <td>{{ item.difference_color }}</td>
                <td class="hatching">
                {% if item.baseline_color_path %}
                    <img src="{{ item.baseline_color_path }}"/>
                {% else %}
                    Not compared
                {% endif %}
                </td>
                <td class="hatching"><img src="{{ item.render_color_path }}"/></td>
            </tr>
                {% endfor %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}

{% endblock %}